
<%= render :partial => "breadcrumb",:locals => {:action => nil}%>


<table style="width:300px">
  <tr>
    <% width = get_dt_length(@columns) %>
    <% @columns.each do |col| %>
        <td style="width:<%=width-%>%;">
          <%= col %>
        </td>
    <% end %>
  </tr>
  <% @objects.each do |object| %>
      <tr>
        <% @columns.each do |col| %>
            <td style="width:<%=width-%>%;">
              <%= object.send(col.to_s) %>
            </td>
        <% end %>
        <td>
          <%= link_to "Edit", edit_record_admin_path(@mod, object.id) %>||
        </td>
      <td>
        <%= link_to "Destroy", destroy_record_admin_path(@mod, object.id) %>
      </td>
      </tr>
  <% end %>
</table>
<%= will_paginate @objects %>

<%= link_to "admin home", administrators_url %>

<div style="float:right">

  <%= link_to "add new", new_record_admin_path(@mod) %>

</div>